


/*商品分类导航样式*/
.category-nav {
    padding: 5px;
}

.category-nav .nav-in {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-nav .nav-in .classify {
    border-bottom: 1px solid #ccc;
}

.category-nav .nav-in .classify a {
    position: relative;
    display: block;
    color: #000;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    font-size: 16px;
}
.category-nav .nav-in .classify a i {
    position: absolute;
    top:12px;
    right: 10px;
    color: #ccc;
}

.category-nav .nav-in .classify-detail {
    background-color: #fff;

}

.category-nav .nav-in .classify-detail {
    width: 100%;
    background-color: #fff;
    border-left: 2px solid #888;
    border-top: 2px solid #888;
    margin-left: -1px;
    margin-top: -1px;
}
.category-nav .nav-in .classify-detail tr {
    width: 100%;
}
.category-nav .nav-in .classify-detail td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    width: 33.33%;
    height: 40px;
    line-height: 40px;
}




