

/*分类部分 */
.classify {
    padding: 6px 0;
    background-color: #fff;
}

.classify .row {
    margin: 16px 0;
}

.classify .row .area-item {
    width: 25%;
}

.classify .row .area-item a {
    display: block;
    width: 100%;
}

.classify .row .area-item a .pic img {
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
}

.classify .row .area-item a .name {
    color: #5a5a5a;
    margin-top: 3px;
    font-size: 13px;
    text-align: center;
}

/*超值折扣 和品牌排行*/
.discout-brand {
    margin-top: 4px;
    padding: 5px;
    background-color: #ff9000;
}

.discout-brand a {
    position: relative;
    display: block;
}

.discout-brand a span {
    font-weight: 900;
    color: #ffffff;
    font-size: 18px;
}

.discout-brand a img {
    position: absolute;
    top: 2px;
    right: 5px;
    height: 20px;
    width: 20px;
}

/*商品列表*/
.carte-con {
    padding-bottom: 4px;
    max-width: 960px;
    margin: 0 auto;
}

.carte-con .cu-list {
    margin-top: 4px;
}

.carte-con .cu-list ul {
    background-color: #cccccc;
}

.carte-con .cu-list ul li {
    padding: 14px 8px;
    background-color: #ffffff;
    margin-bottom: 1px;
}

.carte-con .cu-list ul li a {
    display: block;
}

.carte-con .cu-list ul li a .pic img {
    display: block;
    height: 100px;
    width: 100px;

}

.carte-con .cu-list ul li a .info {
    padding-left: 110px;
}
.carte-con .cu-list ul li a .info .title {
    color: #333333;
    font-size: 15px;
    line-height: 19px;
    min-height: 68px;
    text-align: left;
}
.carte-con .cu-list ul li a .info .title p span {
    color: #ff6c00;
}
.carte-con .cu-list ul li a .info .other {
    position: relative;
    color: #a1a1a1;
    margin-top:8px;
    font-size: 12px;
}
.carte-con .cu-list ul li a .info .other .comment-tips {
    position: absolute;
    top:2px;
    right: 5px;
}


/*更多优惠信息*/

.carte-con .more-cart a {
    margin: 10px;
    display: block;
    text-align: center;
    border-radius: 4px;
    font-size: 13px;
    line-height: 30px;
    background-color: #fffcfc;
    border: 1px solid #dddddd;
    color: #5a5a5a;
}









